<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登録画面</title>
</head>
<body>
    <h2 class="heading">届出種別登録画面</h2>
    <form method="post" th:action="@{/notification/form}" th:object="${notification}">
        <label for="subject">届出名</label>
        <input type="text" id="subject" name="subject" th:value="*{subject}"><br>
        <div th:if="${#fields.hasErrors('subject')}" th:errors="*(subject}"></div>
        <button type="submit">登録</button>
    </form>
    <a href="/">トップページ</a>
</body>
</html>